<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-libraries-and-load-the-data" data-toc-modified-id="Import-libraries-and-load-the-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import libraries and load the data</a></span></li><li><span><a href="#Logistic-Regression-Model" data-toc-modified-id="Logistic-Regression-Model-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Logistic Regression Model</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Train-and-Test-Data-Splits" data-toc-modified-id="Train-and-Test-Data-Splits-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Train and Test Data Splits</a></span></li><li><span><a href="#Hyperparameter-search-using-GridSearchCV" data-toc-modified-id="Hyperparameter-search-using-GridSearchCV-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>Hyperparameter search using GridSearchCV</a></span></li><li><span><a href="#Assess-model-performance" data-toc-modified-id="Assess-model-performance-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>Assess model performance</a></span></li></ul></li></ul></li><li><span><a href="#Random-Forests-Model" data-toc-modified-id="Random-Forests-Model-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Random Forests Model</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Hyperparameter-search-using-GridSearchCV" data-toc-modified-id="Hyperparameter-search-using-GridSearchCV-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Hyperparameter search using GridSearchCV</a></span></li><li><span><a href="#Assess-model-performance" data-toc-modified-id="Assess-model-performance-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Assess model performance</a></span></li></ul></li></ul></li><li><span><a href="#K-Nearest-Neighbor-(KNN)-Model" data-toc-modified-id="K-Nearest-Neighbor-(KNN)-Model-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>K Nearest Neighbor (KNN) Model</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Hyperparameter-search-using-GridSearchCV" data-toc-modified-id="Hyperparameter-search-using-GridSearchCV-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>Hyperparameter search using GridSearchCV</a></span></li><li><span><a href="#Assess-model-performance" data-toc-modified-id="Assess-model-performance-4.0.2"><span class="toc-item-num">4.0.2&nbsp;&nbsp;</span>Assess model performance</a></span></li></ul></li></ul></li><li><span><a href="#Gradient-Boosting-Model" data-toc-modified-id="Gradient-Boosting-Model-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Gradient Boosting Model</a></span></li><li><span><a href="#XGBoost" data-toc-modified-id="XGBoost-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>XGBoost</a></span></li><li><span><a href="#Model-Selection" data-toc-modified-id="Model-Selection-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Model Selection</a></span><ul class="toc-item"><li><span><a href="#Data-Quantity-Assessment" data-toc-modified-id="Data-Quantity-Assessment-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Data Quantity Assessment</a></span></li><li><span><a href="#Save-Final-Model" data-toc-modified-id="Save-Final-Model-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Save Final Model</a></span></li></ul></li></ul></div>

In [1]:
# Preprocessing

### Import libraries and load the data

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from library.sb_utils import save_file

In [3]:
df = pd.read_csv('./Data/02_EDA.csv')
df.head()

,Income,Complain,AcceptedCmp6,Age,Children,Days_Enrolled,TotalExpenses,TotalAcceptedCmp5,TotalNumPurchases,Education_Undergrad,Marital_Status_single
0,58138.0,0,1,58,0,997,1617,0,25,1,1
1,46344.0,0,0,61,2,151,27,0,6,1,1
2,71613.0,0,0,50,0,498,776,0,21,1,0
3,26646.0,0,0,31,1,91,53,0,8,1,0
4,58293.0,0,0,34,1,347,422,0,19,0,0

In [4]:
print(df.shape)
df.info()

(2152, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152 entries, 0 to 2151
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Income                 2152 non-null   float64
 1   Complain               2152 non-null   int64
 2   AcceptedCmp6           2152 non-null   int64
 3   Age                    2152 non-null   int64
 4   Children               2152 non-null   int64
 5   Days_Enrolled          2152 non-null   int64
 6   TotalExpenses          2152 non-null   int64
 7   TotalAcceptedCmp5      2152 non-null   int64
 8   TotalNumPurchases      2152 non-null   int64
 9   Education_Undergrad    2152 non-null   int64
 10  Marital_Status_single  2152 non-null   int64
dtypes: float64(1), int64(10)
memory usage: 185.1 KB

In [5]:
# Get a list of categorical variables
s = (df.dtypes == 'object')
cat_features = list(s[s].index)
print("Categorical variables in the dataset:", cat_features)

### labeling encoding the categorical features
for cat in cat_features:
    label = LabelEncoder()
    df[cat] = label.fit_transform(df[cat])
df.head()

Categorical variables in the dataset: []